/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
    background:#0b132b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tekst {
    font-style: italic;
    font-weight: 1000;
    font-size: 3vh;
    position: absolute;
    transform: translateX(-50%);
    top: 65%;
    left: 50%;
    text-align: center;
    color: red;
    font-family: serif;
}

/*kerstboom*/

.tree {
    position: relative;
    width: 300px;
    height: 450px;
}

.layer {
    position: absolute;
    left: 50%;
    background: #2d6a4f;
    transform: translateX(-50%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.layer-1 {
  width: 140px;
  height: 100px;
  top: 70px;
}

.layer-2{
    width: 200px;
    height: 120px;
    top: 140px;
}

.layer-3{
    width: 256px;
    height: 150px;
    top: 220px;
}

.stam{
    position: absolute;
    left: 50%;
    background-color: rgb(68, 27, 27);
    height: 45px;
    width: 40px;
    top: 369px;
    transform: translateX(-50%);
}

/*decoratie: ster*/

.star {
    position: absolute;
    background: gold;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 60px;
    clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
    );
}

/*decoratie: kerstballen*/

.ornament {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgb(254, 6, 6);
}

.o1 { top: 115px; left: 120px; }
.o2 { top: 140px; left: 170px; background: gold; }
.o3 { top: 175px; left: 150px;}
.o4 { top: 218px; left: 95px; background: gold; }
.o5 { top: 255px; left: 135px; }
.o6 { top: 235px; left: 200px; background: gold; }
.o7 { top: 330px; left: 80px; background: gold;}
.o8 { top: 300px; left: 170px; background: gold; }
.o9 { top: 350px; left: 190px; }

/*decoratie: kerstlichtjes*/

.light {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: yellow;
  box-shadow: 0 0 8px rgba(255, 255, 0, 0.8);
  animation: flicker 1.5s infinite alternate;
}

.l1 { top: 100px; left: 155px; animation-delay: 0s; }
.l2 { top: 200px; left: 130px; background: yellow; animation-delay: .3s; }
.l3 { top: 240px; left: 170px; background: yellow; animation-delay: .6s; }
.l4 { top: 290px; left: 100px; background: yellow; animation-delay: .2s; }
.l5 { top: 330px; left: 210px; background: yellow; animation-delay: .5s; }
.l6 { top: 350px; left: 140px; background: yellow; animation-delay: .8s; }
.l7 { top: 150px; left: 100px; background: yellow; animation-delay: .8s; }


@keyframes flicker {
  0% {
    opacity: 0.1;
    box-shadow: 0 0 4px rgba(255,255,255,0.4);
  }
  100% {
    opacity: 6;
    box-shadow: 0 0 12px rgba(255,255,255,1);
  }
}

/*achtergrond*/

.ach{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(#0b132b,white, lightblue);
  z-index: -2;
}

.sneeuw {
  position: fixed;
  top: -20px;
  font-size: 16px;
  color: white;
  pointer-events: none;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}
